<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">RecipesApp</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <a class="nav-link" routerLink="/">Ana Sayfa</a>
        <a class="nav-link" routerLink="/all-recipes">Tüm Tarifler</a>
        <a class="nav-link" routerLink="/main-courses">Ana Yemekler</a>
        <a class="nav-link" routerLink="/breakfasts">Kahvaltılar</a>
        <a class="nav-link" routerLink="/desserts">Tatlılar</a>
        <a class="nav-link" routerLink="/recipe-book">Tarif Defterim</a>
        <div class = "add-recipe">
          <a class="nav-link" routerLink="/add-recipe">Tarif Ekle</a>
        </div>
        
      </ul>
    </div>
</nav>