.navbar {
  background-color: #e3f2fd;
  height: 100px;
}

.navbar-brand {
  margin-left: 30px;
  font-size: 25px;
  font-weight: 500;
}

.navbar-nav {
  margin-left: 20px;
  margin-top: 5px;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
}

.nav-link:hover,
.nav-link:active {
  color: black;
  font-weight: 500;
}

.add-recipe {
  position: absolute;
  right: 30px;
}